@{
    ViewData["Title"] = "Report Page";
}
@model KCompanyWebApp.Models.TrOrderHdr


<h2>Report Engine</h2>
<ul class="navbar-nav flex-grow-1">
    <li class="nav-item">
        <a class="nav-link text-dark" asp-area="" asp-controller="Report" asp-action="GetSalesReport">Sales Report</a>
    </li>
</ul>